name: Build, Lint, and Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-lint-test:
    name: Build, Lint, and Test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: Checkout and setup environment
        uses: MetaMask/action-checkout-and-setup@v1
        with:
          is-high-risk-environment: false
          node-version: ${{ matrix.node-version }}
          cache-node-modules: true
      - run: yarn build
      - run: yarn lint

      - run: yarn test:coverage
  all-jobs-pass:
    name: All jobs pass
    runs-on: ubuntu-24.04
    needs:
      - build-lint-test
    steps:
      - run: echo "Great success!"
