name: Build and Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-lint:
    name: Build and Test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --frozen-lockfile --ignore-scripts
      - run: yarn build
      - run: yarn lint

      - run: yarn test
  all-jobs-pass:
    name: All jobs pass
    runs-on: ubuntu-24.04
    needs:
      - build-lint
    steps:
      - uses: actions/checkout@v2
      - run: echo "Great success!"
